* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', 'Roboto', sans-serif;
}

@media (max-width: 480px) {
    .img-login{
        width: 70%;
        height: auto;
        margin-left: 50px;
    }
}

.login{
    padding: 7rem 0;
    height: 100%;
}